html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  background-color: green;
}

#app, #desk, #player, #game-board, #game-board > div {
  display: flex;
  justify-content: space-around;
}

#app, #game-board {
  flex-direction: column;
}

#desk, #player, #game-board > div {
  flex-direction: row;
}

#app, #desk, #player, #game-board {
  align-items: stretch;
}

#desk {
  flex: 85 0px;
}

#player {
  flex: 15 0px;
}

#game-board {
  flex: 0 121vh;
}

#player-cards {
  flex: 0 46vh;
}

#game-board > div {
  flex: 0 auto;
  height: 8.2vh;
  align-items: center;
}

#game-board > div > div {
  flex: 0 auto;
  width: 8.2vh;
  height: 11.9vh;
  transform: rotate(270deg);
  position: relative;
}

#game-board > div > div > .chip {
  position: absolute;
  top: 0;
  left: 0;
}

#player-cards > div {
  float: left;
  width: 10vh;
  height: 14vh;
  margin: 0.5vh -4vh 0 0;
  transform: rotate(2deg);
}

#game-board > div > div > *, #player-cards > div > * {
  width: 100%;
  height: 100%;
}
